body {
    padding: 0 20px;
    /* background-color: #4A4238; */
    color: #EEECCE;
    background: url("images/alexander-ant-kvMZ-xXFrA4-unsplash.jpg"), #4A4238;
    background-blend-mode: multiply;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul {
    list-style: none;
}

main {
    
}

/* Color Classes */
.taupe-bg {
    background-color: #4A4238;
}

.sage-bg {
    background-color: #D0CD94;
}

.cerulean-bg {
    background-color: #007EA7;
}

.cocoa-brown-bg {
    background-color: #D56F3E;
}

.beige-bg {
    background-color: #EEECCE;
}

/* Font classes */
.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
}

.poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
}

.poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
}

.poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
}

/* Deco Card Styling */
.deco-card {
    width: 100%;
    height: 300px;
    position: relative;
    overflow: hidden;
    border-radius: 0px 0 26px 0;
    box-shadow: 0px 0px 13px 7px hsl(34.29deg 12.73% 21.57%);
    display: none;
}

.deco-card-top {
    position: absolute;
    top: 0;
    left: 0;
    right: 30px;
    bottom: 30px;
    z-index: 3;
    border-radius: 0 0 8px 0;
    box-shadow: 0px 0px 5px 1px #90593B;
}

.deco-card-ribbon {
    position: absolute;
    left: 0;
    top: 0;
}

.deco-card-ribbon-sm {
    right: 20px;
    bottom: 20px;
    z-index: 2;
    border-radius: 14px 0;
    box-shadow: 0px 0px 5px 1px hsl(160 5% 31% / 1);
}

.deco-card-ribbon-md {
    right: 10px;
    bottom: 10px;
    z-index: 1;
    border-radius: 20px 0;
    box-shadow: 0px 0px 5px 1px hsl(172 26% 26% / 1);
}

.deco-card-ribbon-lg {
    right: 0;
    bottom: 0;
}

/* Content Container Styling */
.content-container {
    width: 100%;
    height: 373px;
    position: relative;
    border-radius: 15px;
    overflow: hidden;
    display: grid;
    box-shadow: 0px 0px 13px 7px hsl(34.29deg 12.73% 21.57%);
    grid-gap: 7px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.content-container .main-panel{
    grid-row: 1 / 3;
}
